service secure_element /system/bin/android.hardware.secure_element-service.qti
    class hal
    user root
    group nfc root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin:/odm/lib64:/odm/lib
    disabled
    seclabel u:r:recovery:s0

