on late-fs
    # qcom-haptics
    chmod 0666 /sys/class/qcom-haptics/lra_calibration
    chmod 0666 /sys/class/qcom-haptics/lra_impedance
    chmod 0666 /dev/qcom_haptic
    chown system system /dev/qcom_haptic

    # cal-file directory
    mkdir /mnt/vendor/persist/haptics 0755 system system

service vibratorfeature-hal-service /system/bin/vendor.xiaomi.hardware.vibratorfeature.service
    class hal
    user root
    group root input audio
    onrestart restart vibratorfeature
    setenv RICHTAP_DEVICE_PATH  /dev/qcom_haptic
    setenv ENV_RICHTAP_CONFIG_PATH /odm/etc/aac_richtap.config
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin:/odm/lib64:/odm/lib
    disabled
    seclabel u:r:recovery:s0

on property:sys.boot_completed=1
    setprop vendor.haptic.calibrate.done 1
